TBW301/ACMECustomerChk/Service Descriptors/CheckCustCredit.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="/Processes/CheckCustCredit.xsd">
    <xsd:element name="InSchema">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CustID" type="xsd:string"/>
                <xsd:element name="CreditAmt" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OutSchema">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="xsd:string"/>
                <xsd:element name="comments" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element> 
</xsd:schema>
